@import "tailwindcss";

main {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.1fr 0.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.seeds { grid-area: 1 / 1 / 3 / 3; }

.upgrades { grid-area: 1 / 3 / 3 / 4; }

.flowers_unlocking { grid-area: 3 / 1 / 4 / 4; }